<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>6 mois pour BESBAR</title>
    <script id="iframe-api" src="https://www.youtube.com/iframe_api"></script>
    <link rel="stylesheet" href="/style.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.9/dist/cdn.min.js"
    ></script>
  </head>
  <body
    x-data="{index:0,
        dark : matchMedia('(prefers-color-scheme: dark)'),
        n : <%=videos.length%>,
        touchEvent : null,
        next:true,
        incrementIndex(x){
          this.next = x>0
          if(this.index + x < 0 || this.index + x >= this.n ) return false
          this.index +=x
          return true
        }
      }"
    :class="dark && 'dark'"
    @wheel.window="$event.deltaY > 100 ? incrementIndex(1) :  $event.deltaY < -100 && incrementIndex(-1)"
    @touchstart.window="touchEvent = { x: $event.touches[0].clientX ,y: $event.touches[0].clientY}"
    @touchmove.window=" $event.preventDefault()
     let deltaY = touchEvent.y - $event.touches[0].clientY
     if (Math.abs(deltaY) > 100){
      deltaY > 0 ? incrementIndex(1) : incrementIndex(-1)
      touchEvent.y =  $event.touches[0].clientY
     }"
    @keyup.window="['ArrowUp' , 'ArrowRight'].includes($event.key) && incrementIndex(1) ;
                  ['ArrowDown' , 'ArrowLeft'].includes($event.key) && incrementIndex(-1) ;"
  >
    <header
      class="w-full motion p-1"
      @mouseover="hidden=false"
      @mouseleave="hidden=true"
      x-data="{hidden : false}"
      x-init="setTimeout(()=>hidden=true , 1_000)"
    >
      <section
        class="size-full motion flex items-center justify-between"
        x-bind:class="hidden ? '-translate-y-[110%]' : ''"
      >
        <h1>6 mois pour BESBAR</h1>
        <image
          @click="dark = !dark"
          :src="dark ? '/dark.svg':'/light.svg'"
          class="size-main mr-smaller"
        >
        </image>
      </section>
    </header>

    <main class="grid grid-cols-10 grid-rows-3 w-full">
      <div
        class="col-span-full row-span-1 size-full touch-area"
        @click="incrementIndex(-1)&&triggerAnim($el,'touch-area')"
      ></div>
      <aside
        class="col-span-1 row-span-1 size-full touch-area"
        @click="incrementIndex(-1)&&triggerAnim($el,'touch-area') "
      ></aside>
      <section class="w-full col-span-8 aspect-video">
        <% videos.forEach((video , id) => { %>
        <template x-if=" Math.abs(<%=id%> - index)<2">
          <div
            class="size-full"
            x-show="index == <%=id%>"
            x-bind:class="index == <%=id%> && (next ? 'motionNext' : 'motionPrev')"
          >
            <div
              x-init="setTimeout(()=>initPlayer($el,'<%=video%>'),100)"
              class="size-full"
            ></div>
          </div>
        </template>
        <% }) %>
      </section>
      <aside
        class="col-span-1 row-span-1 size-full touch-area"
        @click="incrementIndex(1)&&triggerAnim($el,'touch-area')"
      ></aside>
      <div
        class="col-span-full row-span-1 size-full touch-area"
        @click="incrementIndex(1)&&triggerAnim($el,'touch-area')"
      >
        <h4
          class="self-end text-right opacity-100"
          x-text="(index+1) + '/' + n"
        ></h4>
      </div>
    </main>

    <footer
      class="w-full motion"
      x-data="{hidden : false}"
      @mouseover=" hidden=false"
      @mouseleave="hidden=true"
      x-init="setTimeout(()=>hidden=true , 1_000)"
    >
      <section
        class="size-full motion flex justify-center"
        x-bind:class="hidden ? 'translate-y-[120%]' : ''"
      >
        <h4>Fait à Belleville pour un gars de BesBar</h4>
      </section>
    </footer>
    <script>
      function initPlayer(el, videoId) {
        var player;
        window.onYouTubeIframeAPIReady = function () {
          player = new YT.Player(el, {
            height: "390",
            width: "640",
            videoId,
            playerVars: {
              playsinline: 1,
              mute: 1,
              autoplay: 1,
            },
            events: {
              onReady: function (event) {
                window.videoPlayer = player;
              },
            },
          });
        };

        if (YT.Player) window.onYouTubeIframeAPIReady();
      }

      function triggerAnim(el, className) {
        el.classList.remove(className);
        setTimeout(() => el.classList.add(className), 1);
      }
    </script>
  </body>
</html>
